.item {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-basis: 25%;
    flex-basis: 24%;
    margin: 5px 5px 5px 0;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.item img {
    width: 100%;
    height: 100%;
}
.image-list {
    margin: 20px 0;
}
.item-info {
    position: absolute;
    bottom: 0;
    right: 10px;
}
.item-info a {
    color: #fff;
    text-decoration: underline;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}