.Navbar {
    width: 100%;
}

/* .list-group-item {
    background: transparent !important;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
} */